
    <section id="gallery-head">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 text-center">

                    <h1>Gallery</h1>
                </div>
                <div class="col-md-5 col-sm-5"></div>
                <div class="col-md-5 col-sm-5 text-center">
                    <a href="#">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="#">Gallery</a>
                    <i class="fa fa-angle-right"></i>
                    <span> Cobbles Gallery</span>
                </div>
            </div>
        </div>
    </section>

    <section id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="head text-center">
                        <h1>Cobbles Gallery</h1>
                        <div class="border"></div>
                        <div class="tabs">
                            <span>All</span>
                            <span>Tab 1</span>
                            <span>Tab 2</span>
                            <span>Tab 3</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="base-contain">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="small-item">
                                    <div class="hidden-item">
                                        <div class="text">
                                            <i class="fa fa-link"></i>
                                            <h4>Professional Consultations</h4>
                                            <p>
                                                Looking for an answer to your question connected with repair of modern equipment? We can help.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="big-item">
                                    <div class="hidden-item">
                                        <div class="text">
                                            <i class="fa fa-link"></i>
                                            <h4>Professional Consultations</h4>
                                            <p>
                                                Looking for an answer to your question connected with repair of modern equipment? We can help.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="big-item">
                                    <div class="hidden-item">
                                        <div class="text">
                                            <i class="fa fa-link"></i>
                                            <h4>Professional Consultations</h4>
                                            <p>
                                                Looking for an answer to your question connected with repair of modern equipment? We can help.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="small-item">
                                    <div class="hidden-item">
                                        <div class="text">
                                            <i class="fa fa-link"></i>
                                            <h4>Professional Consultations</h4>
                                            <p>
                                                Looking for an answer to your question connected with repair of modern equipment? We can help.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="small-item">
                                    <div class="hidden-item">
                                        <div class="text">
                                            <i class="fa fa-link"></i>
                                            <h4>Professional Consultations</h4>
                                            <p>
                                                Looking for an answer to your question connected with repair of modern equipment? We can help.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="big-item">
                                    <div class="hidden-item">
                                        <div class="text">
                                            <i class="fa fa-link"></i>
                                            <h4>Professional Consultations</h4>
                                            <p>
                                                Looking for an answer to your question connected with repair of modern equipment? We can help.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="big-item">
                                    <div class="hidden-item">
                                        <div class="text">
                                            <i class="fa fa-link"></i>
                                            <h4>Professional Consultations</h4>
                                            <p>
                                                Looking for an answer to your question connected with repair of modern equipment? We can help.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="small-item">
                                    <div class="hidden-item">
                                        <div class="text">
                                            <i class="fa fa-link"></i>
                                            <h4>Professional Consultations</h4>
                                            <p>
                                                Looking for an answer to your question connected with repair of modern equipment? We can help.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="popup">
            <div class="frame">
            </div>
            <i class="fa fa-times"></i>
        </div>
    </section>


