@{
    ViewBag.Title = "Home Page";
}


    <section id="top_slider">
        <div class="container">
            <div class="col-md-12">
                <div class="slider">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-9 col-xs-6 col-sm-6">
                                <h1>
                                    Customer Service Is On Display All The Time!
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <h3>
                                    Service Center is ready to help with all your appliance repair and service needs.
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-8 col-xs-8 col-sm-8">
                                <h1>

                                    Customer Support Is Not a Service, It's an Attitude.

                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <h3></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-8 col-xs-8 col-sm-8">
                                <h1>
                                    Professional. Friendly. Courteous.
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <h3>
                                    Service Center is ready to help with all your appliance repair and service needs.
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5 col-sm-5">
                            <div class="dots">
                                <button class="btn btn-default">Order diaqnostic</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="randoms">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <h1>100%</h1>
                    <span class="border"></span>
                    <p>Satisfaction Guaranteed</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <h1>10</h1>
                    <span class="border"></span>
                    <p>Years on Market</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <h1>
                        2
                        <span>954</span>
                    </h1>
                    <span class="border"></span>
                    <p>Happy Customers</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <i class="fa fa-television" aria-hidden="true"></i>
                    <h1>
                        3
                        <span>597</span>
                    </h1>
                    <span class="border"></span>
                    <p>Items of Equipment Repaired</p>
                </div>
            </div>
        </div>
    </section>


    <section id="services-header">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Our Services</h1>
                    <h4>You can rest assured that repairs are only performed with your prior approval of the work</h4>
                </div>
            </div>
        </div>


        <div class="decoration"></div>
    </section>


    <section id="services-slider">
        <div class="slider">
            <div class="slide">
                <div class="item">
                    <div class="item-slide">
                        <img src="~/Assets/images/home-1-223x227.jpg">
                        <div class="border"></div>
                        <h3>Ice Maker Repair</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="item-slide">
                        <img src="~/Assets/images/home-2-223x227.jpg">
                        <div class="border"></div>
                        <h3>Stove Repair</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="item-slide">
                        <img src="~/Assets/images/home-3-223x227.jpg">
                        <div class="border"></div>
                        <h3>Microva Repair</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="item-slide">
                        <img src="~/Assets/images/home-4-223x227.jpg">
                        <div class="border"></div>
                        <h3>Wosher Repair</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="item-slide">
                        <img src="~/Assets/images/home-5-223x227.jpg">
                        <div class="border"></div>
                        <h3>Refrigerator Repair</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="item-slide">
                        <img src="~/Assets/images/home-6-223x227.jpg">
                        <div class="border"></div>
                        <h3>Range Hood Repair</h3>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button id="next"><i class="fa fa-chevron-right"></i></button>
                <button id="prev"><i class="fa fa-chevron-left"></i></button>
            </div>
        </div>
        <button id="view-button">view all services</button>
    </section>



    <section id="paralax">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="paralax text-center">
                        <h1>Manufacturers</h1>
                        <div class="border"></div>
                        <div class="slider">
                            <div class="slide">
                                <div class="item">
                                    <div class="manu-item">
                                        <a href="#">
                                            <img src="~/Assets/images/home-7-184x54.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="manu-item">
                                        <a href="#">
                                            <img src="~/Assets/images/home-8-184x54.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="manu-item">
                                        <a href="#">
                                            <img src="~/Assets/images/home-9-184x54.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="manu-item">
                                        <a href="#">
                                            <img src="~/Assets/images/home-10-184x54.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="manu-item">
                                        <a href="#">
                                            <img src="~/Assets/images/home-7-184x54.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="manu-item">
                                        <a href="#">
                                            <img src="~/Assets/images/home-11-184x54.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="dots">

                            </div>
                        </div>



                        <div class="opacity-top"></div>
                        <div class="opacity-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="customers">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Happy Customer Testimonials</h1>
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="slider">
                        <div class="slide">
                            <div class="item">
                                <div class="custom-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="~/Assets/images/home-12-47x47.jpg" class="img-circle">
                                        </div>
                                        <div class="col-md-10">
                                            <h4>Jeniffer west</h4>
                                            <h5>Housewife</h5>
                                        </div>
                                    </div>
                                    <div class="border-item">
                                        <div class="rotate"></div>
                                    </div>
                                    <p>
                                        I highly recommend this company. I had a washer break down and they had it back up and running within 30 minutes of service call. The service men were very professional and prompt. If you have appliance damages, give them a call, they will surely repair.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="custom-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="~/Assets/images/home-13-47x47.jpg" class="img-circle">
                                        </div>
                                        <div class="col-md-10">
                                            <h4>Patrick Carlson</h4>
                                            <h5>Web Designer</h5>
                                        </div>
                                    </div>
                                    <div class="border-item">
                                        <div class="rotate"></div>
                                    </div>
                                    <p>
                                        Great service from this family-owned (and veteran-owned) company! They fixed my washer machine in a timely and professional manner. Highly recommend. Thanks, guys, for a good work!
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="custom-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="~/Assets/images/home-14-47x47.jpg" class="img-circle">
                                        </div>
                                        <div class="col-md-10">
                                            <h4>Christine Bryant</h4>
                                            <h5>Journalist</h5>
                                        </div>
                                    </div>
                                    <div class="border-item">
                                        <div class="rotate"></div>
                                    </div>
                                    <p>

                                        Thomas had a good knowledge of our LG refrigerator and easily identified why the ice maker wasn't working. He ordered the part and came back to change it out and it works perfectly now. Tom and Sam work tirelessly to make calling them a good experience.


                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="custom-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="~/Assets/images/home-15-47x47.jpg" class="img-circle">
                                        </div>
                                        <div class="col-md-10">
                                            <h4>William Wallace</h4>
                                            <h5>Manager</h5>
                                        </div>
                                    </div>
                                    <div class="border-item">
                                        <div class="rotate"></div>
                                    </div>
                                    <p>

                                        I highly recommend this service center. The best service I have ever received from an appliance repair company. If needs, I will definitely use them again for our repair needs.


                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="custom-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="~/Assets/images/home-13-47x47.jpg" class="img-circle">
                                        </div>
                                        <div class="col-md-10">
                                            <h4>Patrick Carlson</h4>
                                            <h5>Web Designer</h5>
                                        </div>
                                    </div>
                                    <div class="border-item">
                                        <div class="rotate"></div>
                                    </div>
                                    <p>
                                        Great service from this family-owned (and veteran-owned) company! They fixed my washer machine in a timely and professional manner. Highly recommend. Thanks, guys, for a good work!
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="custom-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="~/Assets/images/home-15-47x47.jpg" class="img-circle">
                                        </div>
                                        <div class="col-md-10">
                                            <h4>William Wallace</h4>
                                            <h5>Manager</h5>
                                        </div>
                                    </div>
                                    <div class="border-item">
                                        <div class="rotate"></div>
                                    </div>
                                    <p>

                                        I highly recommend this service center. The best service I have ever received from an appliance repair company. If needs, I will definitely use them again for our repair needs.


                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="dots">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Latest Blog Posts</h1>
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <!-- <div class="row"> -->
                    <div class="col-md-12 ">
                        <div class="item">
                            <img src="~/Assets/images/home-18-370x247.jpg" class="img-responsive">
                            <div class="content">
                                <h4>How to Repair a Gas Range or an Electric Range</h4>
                                <span>May 26, 2016 at 10:34 am</span>
                                <p>
                                    If the burners on your stove don't light or the oven isn't heating, you can usually solve the problem in five minutes and save the cost of a service call. A quick cleaning usually puts your range back in business.
                                </p>
                                <a href="#">Repair</a><a href="#">Range</a>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="row"> -->
                    <div class="col-md-12 ">
                        <div class="item">
                            <img src="~/Assets/images/home-19-370x247.jpg" class="img-responsive">
                            <div class="content">
                                <h4>How to Repair a Gas Range or an Electric Range</h4>
                                <span>May 26, 2016 at 10:34 am</span>
                                <p>
                                    If the burners on your stove don't light or the oven isn't heating, you can usually solve the problem in five minutes and save the cost of a service call. A quick cleaning usually puts your range back in business.
                                </p>
                                <a href="#">Repair</a><a href="#">Range</a>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <div class="item">
                            <img src="~/Assets/images/home-16-370x247.jpg" class="img-responsive">
                            <div class="content">
                                <h4>20 Tools Every Homeowner Should Have</h4>
                                <span>May 26, 2016 at 10:34 am</span>
                                <p>
                                    You probably have a hammer, but that's just a start. These 20 tools and devices are superstars for household projects and repairs. If you love tools or just need to stock a basic toolbox, here are the top 20 necessary items to get your small project done. How many do you have?
                                </p>
                                <a href="#">Repair </a><a href="#">Tools</a>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="row"> -->
                    <div class="col-md-12 ">
                        <div class="item">
                            <img src="~/Assets/images/home-20-370x247.jpg" class="img-responsive">
                            <div class="content">
                                <h4>How to Repair a Gas Range or an Electric Range</h4>
                                <span>May 26, 2016 at 10:34 am</span>
                                <p>
                                    If the burners on your stove don't light or the oven isn't heating, you can usually solve the problem in five minutes and save the cost of a service call. A quick cleaning usually puts your range back in business.
                                </p>
                                <a href="#">Repair</a><a href="#">Range</a>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <!-- <div class="row"> -->
                    <div class="col-md-12 col-sm-6">
                        <div class="item">
                            <img src="~/Assets/images/home-17-370x247.jpg" class="img-responsive">
                            <div class="content">
                                <h4>How to Repair Pipes</h4>
                                <span>May 26, 2016 at 10:34 am</span>
                                <p>
                                    Pipes in your plumbing system can leak, drip condensate and freeze, causing a number of problems. The following steps will instruct you on how to repair pipes without calling a plumber.
                                </p>
                                <a href="#">Repair</a><a href="#">Pipes</a>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="row"> -->
                    <div class="col-md-12 col-sm-6 ">
                        <div class="item">
                            <img src="~/Assets/images/home-21-370x247.jpg" class="img-responsive">
                            <div class="content">
                                <h4>How to Repair a Gas Range or an Electric Range</h4>
                                <span>May 26, 2016 at 10:34 am</span>
                                <p>
                                    If the burners on your stove don't light or the oven isn't heating, you can usually solve the problem in five minutes and save the cost of a service call. A quick cleaning usually puts your range back in business.
                                </p>
                                <a href="#">Repair</a><a href="#">Range</a>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>

        <button>view all pages posts</button>
    </section>


    <section id="map">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d555155.1166377988!2d48.037036680251376!3d39.76597642298692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403b75ca606cef2b%3A0xa23f123260868fda!2sSabirabad%2C+Azerbaijan!5e0!3m2!1sen!2s!4v1513544135567" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>



